.adlam-display-regular {
    font-family: "ADLaM Display", system-ui;
    font-weight: 400;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

.lexend-deca-regular {
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

body {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background: #000000;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 28%, rgba(88, 47, 148, 1) 100%);
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    color: #FFFFFF;
    background: #000000;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

.content {
    max-width: 900px;
    padding: 20px;
    margin-top: 100px;
    color: #FFFFFF;
    text-align: center;
    font-family: "ADLaM Display", system-ui;
    font-weight: 400;
}

.title {
    animation: ease 0.8s ease forwards;
    font-size: 64px;
    margin-bottom: 16px;
}

.subtitle {
    animation: ease 1s ease forwards;
    font-size: 24px;
    color: #dddddd86;
    margin-bottom: 20px;
}

#cards {
    animation: ease 2s ease forwards;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(242px, 242px));
    justify-content: center;
    gap: 10px;
    margin-bottom: 24px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

span#carregando {
    position: fixed;
    width: 100px;
    height: 100px;
    background-color: transparent;
    display: block;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 15px solid #4611cd;
    border-top: 15px solid transparent;
    animation: loading 1s linear infinite;
    animation: loading 1s linear infinite, desaparecer 0.5s ease forwards;
    animation-delay: 0s, 1s;
}

#loading-screen {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #0000009a;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    animation: desaparecer 0.5s ease forwards;
    animation-delay: 1s;
}


@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes desaparecer {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

button {
    background-color: rgba(0, 0, 0, 0.625);
    padding: 20px 40px;
    width: 242px;
    height: 64px;
    text-align: center;
    margin-top: 24px;
    font-family: "ADLaM Display", system-ui;
    font-size: 24px;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer; 
}

button:hover {
    animation: butanim 0.5s ease-in-out infinite alternate;

}

@keyframes butanim {
    0% {
        transform: scale(1);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    }
    100% {
        transform: scale(1.05);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    }
}

@keyframes ease {
    0% {
        opacity: 0;
        translate: 0px 40px;
    }
    100% {
        opacity: 1;
        translate: 0px 0px;
    }
}

div.searchbar {
    display: flex;
    justify-content: center;
    
    margin-top: 20px;
    margin-bottom: 40px;
}

input[type="text"] {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}